* {
    margin: 0;
    padding: 0;
}

:root {
    --very-light-gray: hsl(240, 78%, 98%);
    --light-gray: hsl(234, 14%, 74%);
    --gray: hsl(233, 13%, 49%);
    --dark-gray: hsl(232, 13%, 33%);
}

body {
    background-color: #f7f7ff;
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/bg-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

section {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 50px 15px;
}

hr {
    color: hsla(234, 14%, 74%, 0.192);
    margin-top: 20px;
    margin-bottom: 20px;
}

section h1 {
    color: var(--gray);
    margin-bottom: 20px;
    font-size: 2rem;
}

section h2 {
    font-size: 18px;
    color: var(--gray);
}

#toggle {
    font-size: 15px;
    color: var(--light-gray);
    margin-bottom: 20px;
}

#toggle button {
    margin: 0 10px;
    border-radius: 15px;
    width: 50px;
    height: 30px;
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
}

#toggle-circle {
    background-color: #fff;
    border-radius: 100%;
    float: right;
    
}

.card-white {
    background-color: #fff;
    box-shadow: 1px 1px 20px hsla(234, 13%, 49%, 0.199);
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 30px 25px;
    height: 400px;
    color: var(--gray);
}

.card-white h2 {
    margin-bottom: 15px;
}

.card-purple {
    background-image: linear-gradient(hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
    box-shadow: 1px 1px 20px hsla(234, 13%, 49%, 0.199);
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 30px;
    height: 400px;
}

.card-purple h2{
    color: var(--very-light-gray);
    margin-bottom: 15px;
}

.card-purple hr {
    color: hsla(240, 80%, 98%, 0.336);
}

.p-white {
    color: var(--very-light-gray);
}

.btn-purple {
    background: linear-gradient(90deg, hsl(236, 72%, 79%) ,hsl(237, 63%, 64%));
    border-radius: 8px;
    color: #fff;
    padding: 14px 0;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    width: 260px;
    margin-top: 15px;
}

.btn-white {
    padding: 14px 0;
    font-family: 'Montserrat';
    color: hsl(237, 63%, 64%);
    background-color: #fff;
    border-radius: 8px;
    letter-spacing: 2px;
    width: 265px;
    margin-top: 15px;
}

.price-gray {
    font-size: 4rem;
    color: var(--dark-gray);
}

.price-white {
    font-size: 4rem;
    color: var(--very-light-gray);
}

.price-white span, .price-gray span {
    font-size: 40px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 1440px) {
    #container {
        display: flex;

    }
}