/*================== PRICES ====================================================*/
.price-gray {
  font-size: 4rem;
  color: $darkGray;
}

.price-white {
  font-size: 4rem;
  color: $veryLightGray;
}

.dolar {
  font-size: 40px;
}
